<% content_for :content do %>
    <div class="jumbotron text-center">
        <h1>Books</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <%= yield %>
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <img src="https://s3.amazonaws.com/otw-ao3-icons/icons/5663150/standard.png?1600126057" alt="Vthryl">
                    <div class="caption">This is bullshit</div>
                </p>

            </div>
        </div>
    </div>
<% end %>
    <%= render template: "layouts/application" %>
